@media (max-width: 1150px){
    .cabecalho .logo{
        max-width: 190px;
    }

    .selecao-de-personagens{
        flex-direction: column-reverse;
        max-width: 430px0;
        margin: 0 auto;
    }

.selecao-de-personagens .personagens .titulo{
    font-size: 15px;
}

.selecao-de-personagens .lista-de-personagens{
    gap: 9px;
}

.selecao-de-personagens .personagem img{
    width: 110px;
}

.personagem-selecionado .personagem-grande{
    width: 400px;
    height: 400px;
}

}